.main-wrapper-dark-theme,
.form__element-dark-theme {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
}
.form__element-dark-theme {
  border: 1px solid #0c0c0c;
}

.title-header-dark-theme,
.form__label-checkbox-dark-theme {
  color: rgba(255, 255, 255);
}
