@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url(../fonts/Ubuntu-Regular.woff2);
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.woff2);
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Verdana";
  src: url(../fonts/Verdana.ttf);
  src: url(../fonts/Verdana.woff2);
  font-weight: 400;
  font-display: swap;
}
