p {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.form {
  width: 160px;
  border-radius: 4px;
  margin-top: 20px;
  padding: 11px;
  background-color: rgb(160, 44, 44);
  color: white;
}
.price {
  margin-left: 3px;
  width: 90px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid black;
  outline: none;
}
.label {
  padding-top: 3px;
}
.green-border {
  border: 2px solid rgb(36, 187, 36);
}
.red-border {
  border: 2px solid rgb(235, 33, 33);
}
.span-style {
  display: inline-block;
  margin-right: auto;
  color: black;
}
.span-container {
  background-color: white;
  border: 1px solid rgb(112, 106, 106);
  border-radius: 11px;
  padding: 2px;
  margin-bottom: 5px;
  text-align: center;
}
.button-style {
  width: 17px;
  height: 17px;
  display: inline-flex;
  justify-content: center;
  padding: 0px;
  margin-left: 5px;
  transform: rotate(45deg);

  border-radius: 50%;
  outline: none;
  background-color: rgb(255, 254, 254);
  border: 1px solid rgb(15, 15, 15);
  color: rgb(53, 51, 51);
}
